#dirs #in,
#dirs #out {
  width: 11em;
  border-radius: 1em;
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  background: #ffe;
}
#dirs #arrow {
  color: #08f;
  font-size: 450%;
}
#templates col#link {
  width: 5em;
}
