@import '//fonts.googleapis.com/css?family=Fira+Mono|Varela+Round';
body {
  margin: 0;
  font-family: Varela Round;
  background: repeating-linear-gradient(45deg, #eff, #eff 1rem, #e8ffff 1rem, #e8ffff 2rem);
}
main {
  margin: 0 auto;
  max-width: 700px;
}
